* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

header {
  background: black;
  padding: 15px 0;
  position: sticky;
  top: 0;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

section {
  padding: 60px 20px;
  width: 90%;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.skill {
  background: #1e293b;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background: black;
}
