body{
margin:0;
font-family:Arial;
background:#001f4d;
color:white;
transition:0.3s;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#002b80;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:50px;
}

.players{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.card{
width:250px;
height:350px;
perspective:1000px;
}

.inner{
position:relative;
width:100%;
height:100%;
transition:transform 0.8s;
transform-style:preserve-3d;
}

.card:hover .inner{
transform:rotateY(180deg);
}

.front, .back{
position:absolute;
width:100%;
height:100%;
backface-visibility:hidden;
border-radius:15px;
overflow:hidden;
text-align:center;
background:#0f1a2c;
padding:15px;
}

.front img{
width:100%;
height:200px;
object-fit:cover;
}

.back{
transform:rotateY(180deg);
background:#002b80;
}

.captain{
border:3px solid gold;
}

input{
padding:10px;
margin:20px;
width:80%;
max-width:400px;
}